:root {
  --mobile: 375px;
  --desktop: 1440px;
  --dark-saturated-color: hsl(238, 29%, 16%);
  --red-color: hsl(14, 88%, 65%);
  /* Background gradient */
  --violet-color: hsl(273, 75%, 66%);
  --blue-color: hsl(240, 73%, 65%);
  /* Text */
  --dark-grayish-color: hsl(237, 12%, 33%);
  --light-grayish-color: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
  /*  */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;

  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

body {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  height: 100%;

  --max-dimension-px: 16px;
  --max-dimension-rem: 1.6rem;
  --range-dimension-effect: 1.5vw;

  font-size: clamp(
    calc(var(--max-dimension-px) * 0.75),
    calc(var(--max-dimension-rem) + (var(--range-dimension-effect) - calc(var(--max-dimension-rem) * 1.25))),
    var(--max-dimension-px)
  );

  font-family: "Kumbh Sans", sans-serif;
  color: var(--light-grayish-color);
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 auto;

  background-color: white;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 8rem rgba(0, 0, 0, 0.2);
}

.card > * {
  width: 50%;
}

.container--image {
  position: relative;

  background-image: url(../images/illustration-woman-online-desktop.svg), url(../images/bg-pattern-desktop.svg);
  background-position: -7rem 50%, -56.5rem calc(50% - 6.5rem);
  background-repeat: no-repeat;
}

.container--description {
  --max-horizontal-px: 90px;
  --min-horizontal-percent: var(--max-horizontal-px) * 0.35;
  --max-horizontal-rem: 9rem;
  --range-horizontal-effect: 7vw;
  --effect-horizontal-point: 1.5;

  --max-vertical-px: 90px;
  --min-vertical-percent: var(--max-vertical-px) * 0.2;
  --max-vertical-rem: 9rem;
  --range-vertical-effect: 7vh;
  --effect-vertical-point: 1.3;

  padding: clamp(
      var(--min-vertical-percent),
      var(--max-vertical-rem) + var(--range-vertical-effect) - var(--max-vertical-rem) * var(--effect-vertical-point),
      var(--max-vertical-px)
    )
    clamp(
      var(--min-horizontal-percent),
      var(--max-horizontal-rem) + var(--range-horizontal-effect) - var(--max-horizontal-rem) *
        var(--effect-horizontal-point),
      var(--max-horizontal-px)
    );
}

.container--description section {
  --max-dimension-px: 12px;
  --min-dimension-percent: var(--max-dimension-px) * 0.35;
  --max-dimension-rem: 1.2rem;
  --range-dimension-effect: 7vh;
  --effect-dimension-point: 5.6;

  padding-bottom: clamp(
    var(--min-dimension-percent),
    var(--max-dimension-rem) + var(--range-dimension-effect) - var(--max-dimension-rem) * var(--effect-dimension-point),
    var(--max-dimension-px)
  );

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--light-grayish-blue);
}

.container--description h1 {
  color: hsl(238, 29%, 16%);
}

.container--description a {
  --max-dimension-px: 12px;
  --min-dimension-percent: var(--max-dimension-px) * 0.75;
  --max-dimension-rem: 1.2rem;
  --range-dimension-effect: 7vh;
  --effect-dimension-point: 5.6;

  display: block;
  padding: clamp(
      var(--min-dimension-percent),
      var(--max-dimension-rem) + var(--range-dimension-effect) - var(--max-dimension-rem) *
        var(--effect-dimension-point),
      var(--max-dimension-px)
    )
    0;
  margin: clamp(
      var(--min-dimension-percent),
      var(--max-dimension-rem) + var(--range-dimension-effect) - var(--max-dimension-rem) *
        var(--effect-dimension-point),
      var(--max-dimension-px)
    )
    0;

  text-decoration: none;
  color: var(--dark-grayish-color);
}

.container--description a:hover {
  color: var(--red-color);
}

.image--box {
  position: absolute;
  z-index: 1;

  top: calc(50% - 4.3rem);
  left: -10rem;
}
