:root {
  --mobile: 375px;
  --desktop: 1440px;
  --dark-saturated-color: hsl(238, 29%, 16%);
  --red-color: hsl(14, 88%, 65%);
  /* Background gradient */
  --violet-color: hsl(273, 75%, 66%);
  --blue-color: hsl(240, 73%, 65%);
  /* Text */
  --dark-grayish-color: hsl(237, 12%, 33%);
  --light-grayish-color: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;

  font-size: clamp(1rem, 1vw, 1.6rem);
  font-family: "Kumbh Sans", sans-serif;

  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

image {
  display: inline-block;
}

section {
  color: var(--light-grayish-color);

  border-bottom-color: var(--light-grayish-blue);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a {
  display: inline-block;
  padding: clamp(0.5rem, 1vh, 1rem) 0;
  margin: clamp(0.5rem, 1vh, 1rem) 0;

  text-decoration: none;
  font-weight: 600;

  cursor: pointer;
}

p {
  padding-bottom: clamp(0.5rem, 10vh, 1rem);
}

.card {
  display: flex;
  position: relative;

  background-color: white;
  border-radius: 2rem;
  box-shadow: 2rem 2rem 8rem rgba(0, 0, 0, 0.2);
}

.container--image {
  position: relative;
  overflow: hidden;
}

.image {
  position: absolute;
  transform: translate(50%, -50%);
}

.image--box {
  top: 50%;
  right: 50%;
  z-index: 2;

  width: clamp(10rem, 15vw, 19.1rem);

  transform: translate(-185%, -40%);
}

.image--woman {
  top: 50%;
  right: 0%;
  z-index: 1;

  width: clamp(calc(10rem * 2.471204188481675), calc(15vw * 2.471204188481675), 47.2rem);

  transform: translate(0%, -57%);
}

.image--pattern {
  top: 50%;
  right: 0%;

  width: clamp(calc(10rem * 5.057591623036649), calc(15vw * 5.057591623036649), 99.6rem);

  transform: translate(0%, -60%);
}

.container--description {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: clamp(1rem, 5vh, 7.2rem) 6rem;
}

.container--image {
  flex-basis: 100%;
  padding: clamp(1rem, 5vh, 7.2rem) 6rem;
}

.arrow {
  height: 1rem;
  margin-left: 2rem;
}

.title {
  color: inherit;
}

.title:hover,
.title:active,
.title:focus-visible {
  color: var(--red-color);
}
